.card {
    margin-top: 37px;
    height: 44.2rem;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.card-subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
}

.card-text {
    padding-top: 10px;
    font-size: 18px;
}