body {
    font-family: Arial;
    background-color: rgba(128, 143, 148, 0.8);
    text-align: center;
}

nav {
    font-size: 20px;
    border: black solid 1px;
}

header {
    border-top: none;
    border-bottom: black solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #DDDDDD;
}

main {
    padding-top: 20px;
    font-size: 20px;
}

figure img {
    margin-top: 100px;
    height: 430px;
    width: 350px;
}